*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(assets/2.jpg);
    position: relative;
    background-size: cover;
    overflow: hidden;
}

.logo{
    position: relative;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3.3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(240, 23, 23, 0);
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
    align-items: center;
}

.navbar{
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.navbar a{
    padding: 15px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.navbar a:hover, .navbar a.active{
    color: rgb(119, 124, 124);
}

.text{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    color: white;
    text-align: center;
    top: 0%;
    left: 50%;
    transform: translate(-50%,40%);
}

.text .profpic{
    width: 212px;
    height: 212px;
    border-radius: 106px;
    overflow: hidden;
}

.text .profpic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text .profpic:hover{
    box-shadow: 0 0 65px 0 rgba(7, 75, 102, 0.993);
}

.text h1{
    font-size: 60px;
}

.text h3{
    font-size: 30px;
}

.text p{
    margin: 10px 0 40px;
    font-size: 16px;
    width: 50%;
    text-align: justify;
    color: white;
}

.home-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 2px solid rgb(119, 124, 124);
    border-radius: 10px;
    padding: 12px 34px;
    font-size: 16px;
    position: relative;
}

.home-btn:hover{
    border: 1px solid rgb(119, 124, 124);
    background-color: rgb(119, 124, 124);
    color: white;
}

nav .bx{
    display: none;
}

.container{
    display: none;
}

.footer{
    bottom: 0;
    background: linear-gradient(90deg, rgba(3,10,38,1) 0%, rgba(36,49,115,1) 50%, rgba(3,10,38,1) 100%);;
    color: #fff;
    width: 100%;
    padding: 70px 30px 20px;
    font-size: 14px;
    line-height: 20px;
}

.icons{
    display: flex;
    justify-content: center;
}

.icons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 42%;
}

.icons a i{
    font-size: 2em;
    color: rgb(55, 128, 128);
    opacity: 0.9;
}

.icons a:hover{
    background-color: rgb(55, 128, 128);
    transition: 0.8s;
    box-shadow: 0 0 20px 0 rgba(96, 210, 255, 0.993);
}

.icons a i:hover{
    color: white;
    transition: 0.8s;
}

.fnav{
    margin: 25px 0;
}

.fnav ul{
    display: flex;
    justify-content: center;
}

.fnav ul li{
    list-style: none;
}

.fnav ul li a{
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 17px;
    opacity: 0.8;
    transition: 0.8s;
}

.fcopy{
    padding: 20px;
    text-align: center;
}

/* project */

.projects{
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(assets/1.jpg);
    width: 100%;
    margin: auto;
    padding-top: 50px;
    text-align: center;
}

h1{
    font-size: 36px;
    color: white;
    font-weight: 600;
}

p{
    font-size: 14px;
    padding: 10px;
}

.list{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    color: white;
    flex-direction: column;
}

.box{
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    /* background-color: #081b29; */
}

.box img{
    width: 100%;
    max-width: 200px;
    border-radius: 10px;
    margin-right: 40px;
    float: left;
}

.box h3, .box h4, .box p, .box a, .box .spans{
    display: block;
    text-align: left;
}

.box a{
    bottom: 0;
    text-decoration: none;
    color: white;
}

.box a:hover{
    color: rgb(55, 128, 128);
    
}



.box h4{
    margin-bottom: 15px;
    text-align: left;
    color: rgb(181, 181, 181);
}

.box p{
    padding: 0;
    margin-bottom: 40px;
}

.box img:hover{
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.2);
}


@media (max-width: 600px){
    .text h1{
        font-size: 40px;
    }

    .text h3{
        font-size: 20px;
    }

    .text p{
        margin-top: 8%;
        text-align: start;
        width: 100%;
    }

    .navbar a{
        display: block;
    }

    .navbar a:hover{
        color: aqua;
    }

    .navbar a.active{
        color: white;
    }

    .navbar{
        position: absolute;
        background: #081b29;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -250px;
        text-align: left;
        z-index: 2;
        transition: 2s;
    }

    nav .bx{
        display: block;
        color: white;
        margin: 10px;
        font-size: 26px;
    }

    .navbar a{
        padding: 30px;
    }
    
    .container{
        display: flex;
        flex-direction: column;
    }

    .box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .box a img{
        width: 100%;
        align-items: center;
        justify-content: center;
        float: none;
        margin: 0;
    }

    .fnav ul{
        flex-direction: column;
    }

    .fnav ul li{
        text-align: center;
        width: 100%;
        margin: 10px;
    }

    .fnav ul li a{
        font-size: 20px;
    }

    .projects{
        background:rgb(4,9,37)
    }
}

@keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }